@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Delius+Swash+Caps&family=Julius+Sans+One&family=Montserrat&family=Poiret+One&family=Poppins:wght@300&display=swap');

.container::-webkit-scrollbar {
    width: 0.1px;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-drag: none;
    font-family: 'Poppins';
}

body {
    background-color: whitesmoke;
    overflow: hidden;
}

.redblob {
    position: fixed;
    top: -25%;
    left: -40%; 
    height: 100%;
    width: 100%;
}
.greenblob {
    position: fixed;
    bottom: -70%;
    left: -40%; 
    height: 100%;
    width: 100%;
}
.blueblob {
    position: fixed;
    bottom: -30%;
    right: -40%; 
    height: 100%;
    width: 100%;
}
.yellowblob {
    position: fixed;
    top: -70%;
    right: -40%; 
    height: 100%;
    width: 100%;
}

.container {
    position: absolute;
    z-index: 2;
    width: 70vw;
    height: 70vh;
    top: 15%;
    left: 15%;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    overflow: scroll;
}

.logo {
    display: block;
    margin: auto;
    width: 400px;
    height: 400px;
    border: none;
}
.text {
    padding: 0 20%;
    text-align: center;
}

.heading {
    padding: 0 20%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 0 20%;
}

input{
    height: 30%;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
}
input[type=submit] {
    height: 60px;
    width: 20%;
    border-radius: 20px;
    padding: 5px;
    font-size: 20px;
    background-color: #34a853;
}



@media only screen and (max-width: 500px ){
    .yellowblob {
        top: -40%;
        right: -50%;
    }
    .blueblob {
        bottom: -30%;
    }
    .greenblob{
        bottom: -40%;
        left: -50%;
    }
    .redblob {
        top: -30%;
    }
    .logo {
        width: 200px;
        height: 200px;
        margin: auto;
    }
    .text {
        padding: 0 10%;
    }
    .heading {
        padding: 0 10%;
    }
    .container {
        overflow-x: hidden;
    }
    input{
        width: 150px;
        border-radius: 20px;
        font-size: 18px;
        padding: 10px;
        font-family: 'Poppins', sans-serif;
    }
    input[type=submit] {
        width: 150px;
        border-radius: 20px;
        padding: 5px;
        font-size: 20px;
        background-color: #34a853;
    }
    .form {
        display: flex;
        flex-direction: column;
    }
}